* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
    font-family: 'Nunito Sans', sans-serif;
    overflow-y: hidden;
}

.main-content {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.menu, .most-right {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.menu {
    float: left;

}

.menu .logo {
    padding: 10px 0;
}

.menu-links {
    padding: 10px 0;
}

.menu-links .menu-link-item {
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
}

.menu-links .menu-link-item a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}

.menu-links .menu-link-item img {
    width: 20px;
    margin-right: 10px;
}

.menu-links .menu-link-item:hover {
    background-color: #e4e4e4;
}

.topics {
    width: 80%;
    float: left;
    padding: 10px;
}

.topics h5 {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}

.topics .topic-item {
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
}

.topics .topic-item a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.new_post {
    width: 100%;
    float: left;
    padding: 10px;
}

.new_post_form {
    width: 100%;
    float: left;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;
}

.new_post_form textarea {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    resize: none;
    background-color: #e4e4e4;
}

.bottom_inputs {
    display: flex;
}

.bottom_inputs button {
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #686868;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.bottom_inputs button:hover {
    background-color: #000000;
    color: white;
}


.add_image_to_post::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/client/assets/images/icons/image-outline.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.add_image_to_post:hover::before {
    cursor: pointer;
}



.friends-suggestion {
    width: 100%;
    float: left;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;
}

.friends-suggestion h5 {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: solid 1px #a9a9a9;
}

.suggestions_container {
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 1px #a9a9a9;
}

.single_suggested_user {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;

}

.suggested-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.suggested-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.suggested-profile .user_name_handle {
    display: flex;
    flex-direction: column;
}

.show_more {
    color: #686868;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.whats_happening_section {
    width: 100%;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;
}

.happening_profile .user_name_handle {
    display: flex;
    flex-direction: row;
}

/* Login Page */
.login-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.login_left img {
    width: 70%;
}

.login_right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form-area {
    height: fit-content;
    width: 60%;
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
}

.register-form-area {
    height: fit-content;
    width: 80%;
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
}

.login-form-area h3 {
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0;
}

.forgot_password_link {
    text-align: right;
}

.forgot_password_link a {
    text-decoration: none;
    color: #060606;
    font-size: 14px;
    font-weight: 600;
}

.forgot_password_link a:hover {
    color: #000000;
}

.login_btn button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.login_btn button:hover {
    background-color: #686868;
    color: #ffffff;
}

.signup_link {
    text-align: right;
    padding: 10px 0;
}

/* content */
.content {
    float: left;
    padding: 20px;
    margin-bottom: 20px;
}

.content .search-input form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #e4e4e4;
}

.content .search-input form input {
    width: 100%;
    height: 40px;
    border: 1px solid #a3a3a3;
    outline: none;
    padding: 10px;
    background-color: #ffffff;
}

.posts {
    margin-top:20px;
    padding-bottom: 50px;
    overflow-y: scroll;
    height: 90vh;
}

.post_card {
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
}

.post_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header.post_head {
    padding-bottom: 0;
}

.post_head .profile_pic_user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 10px;
}

.profile_pic_user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post_head .daysince_more_options {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 10px;
}

.like_comment_share {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 10px;
}

.like, .comment, .share {
    display: flex;
    gap: 5px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

/* Profile */
.profile_area {
    width: 100%;
    float: left;
    padding: 10px;
    overflow-y: scroll;
    height: 100vh;
}

.head_with_username {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    top: 0;
}

.head_with_username .align_right {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.search_form_head form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 10px;
    gap: 10px;
}

.head_with_username .search_form_head form input {
    width: 60%;
    height: 30px;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    background-color: #ffffff;
}


.user_profile_area {
    float: left;
    background-color: #ffffff;
}

/* make profile photo appear between these two divs above and below */
.profile_photo {
    padding: 0 10px;
    margin-top: -50px;
}

.profile_photo img {
    border-radius: 50%;
    display: block;
}

.user_profile_area .profile_pic {
    float: left;
    background-color: #ffffff;
}

.user_info {
    float: left;
    background-color: #ffffff;
    padding: 0 10px;
}

.location_date_joined {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0;
    background-color: #ffffff;
}

.posts_navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
}

.posts_navigation a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.mobile-nav {
    display: none;
    padding: 10px;
}

.mobile_add_new_button img {
    width: 30px;
    height: 30px;
}
.mobile_header {
    display: none;
}

.user_follow_followers {
    display: flex;
    gap: 30px;
}

.user_posts {
    padding-top: 10px;
    height: 85vh;
}

.nav_icon {
    width: 20px;
    height: 20px;
}

.nav_icon a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.nav_icon a img {
    width: 30px;
    height: 20px;
}


.post_link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.comment_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.current_user_profile_pic img {
    border-radius: 50%;
}

.comment_input {
    width: 100%;
    border: 1px solid #a3a3a3;
    outline: none;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment_input input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #ffffff;
}

.comment_input button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}

.comment_input button img {
    width: 30px;
    height: 30px;
} 

.comments_section {
    background-color: #ffffff;
    display: flex;
}

.current_user_profile_pic {
    padding: 10px;
}

.comment_content {
    display: flex;
    flex-direction: column;
}

.comment_card {
    display: flex;
    flex-direction: row;
}

.comment_name_username a {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
    color: #464646;
    margin-bottom: 1px;
}

.comment_name_username a h6{
    padding: 0;
    margin: 0;
}

.comment_name_username a p {
    padding: 0;
    color: #a3a3a3;
    margin: 0;
}

.replying_to p{
    margin: 0;
}

.comment_actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 10px;
}

.comment_like, .comment_reply {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0 10px;
    cursor: pointer;
}

.followers_following_area {
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
    height: 90vh;
}

.followers_following_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single_follower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.follower_card_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.follower_left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.user_name_handle a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #464646;
    font-weight: 600;
}

.user_name_handle a h6{
    padding: 0;
    margin: 0;
}

.mobile_head_nav {
    display: none;
}


/* dark theme */
.toggle_theme {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    background-color: #ffffff;
    bottom: 0;
}

.toggle_theme button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}

.toggle_theme button img {
    width: 20px;
    height: 20px;
}

body.dark {
    background-color: #404040;
}

body.dark .menu, body.dark .most-right {
    background-color: #939393;
    color: #ffffff;
}

body.dark .menu-links .menu-link-item a {
    color: #ffffff;
}

body.dark .topics .topic-item a {
    color: #ffffff;
}

body.dark .new_post_form textarea {
    background-color: #939393;
}

body.dark .friends-suggestion {
    background-color: #939393;
}

body.dark .suggested-profile .user_name_handle a {
    color: #ffffff;
}

body.dark .whats_happening_section {
    background-color: #939393;
}

body.dark .happening_profile .user_name_handle a {
    color: #ffffff;
}

body.dark .login-form-area {
    background-color: #939393;
}

body.dark .register-form-area {
    background-color: #939393;
}

body.dark .login-form-area h3 {
    color: #ffffff;
}

body.dark .login-form-area input {
    background-color: #939393;
}

body.dark .login-form-area button {
    background-color: #ffffff;
    color: #000000;
}

body.dark .login-form-area button:hover {
    background-color: #686868;
    color: #ffffff;
}

body.dark .login-form-area a {
    color: #ffffff;
}

body.dark .login-form-area a:hover {
    color: #000000;
}


body.dark .content .search-input form input {
    background-color: #939393;
}

body.dark .posts {
    background-color: #939393;
}

body.dark .post_card {
    background-color: #939393;
}

body.dark .post_head {
    background-color: #939393;
}

body.dark .post_head .profile_pic_user {
    background-color: #939393;
}

body.dark .post_head .daysince_more_options {
    background-color: #939393;
}

body.dark .like_comment_share {
    background-color: #939393;
}

body.dark .like, body.dark .comment, body.dark .share {
    background-color: #939393;
}

/* Profile */


@media screen and (max-width:1000px) {
    .login_right {
        width: 100%;
    }

    .login-right img {
        width: 100%;
    }
}

@media screen and (max-width:820px){

    /* login page */
    .login_left {
        display: none;
    }

    .login_right {
        width: 100%;
    }

    .login-right img {
        width: 100%;
    }

    .most-right {
        display: none;
    }
}

@media screen and (max-width:578px){
    
        /* login page */
        .login_right {
            width: 100%;
        }

        .login-form-area {
            width: 100%;
            height: fit-content;
        }

        .register-form-area {
            width: 100%;
            height: fit-content;
        }

        .menu {
            display: none;
        }

        .mobile-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #ffffff;
            bottom: 0;
            position: fixed;
            width: 100vw;
        }

        .mobile_header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            position: fixed;
            z-index: 1;
            top: 0;
            width: 100%;
        }

        .content {
            padding: 0;
        }

        .new_post_form_area {
            width: 100vw;
            height: fit-content;
            padding: 10px;
            background-color: #e4e4e4;
            border-radius: 10px;
        }

        .new_post_form {
            background-color: #d7d7d7;
        }

        .new_post_form select {
            height: 40px;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            background-color: #d7d7d7;
        }

        .new_post_form textarea {
            width: 100%;
            height: 50vh;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            resize: none;
        }



        .bottom_inputs {
            display: flex;
            flex-direction: row;
        }

        .mobile_head_nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            position: fixed;
            z-index: 1;
            top: 0;
            width: 100%;
            padding: 10px;
        }

        .mobile_head_nav .logo_mobile_head img {
            height: 40px;
        }

        .mobile_head_nav .profile_icon_mobile img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .profile_pic_user img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .card-header.post_head {
            padding-bottom: 0;
        }
    }

